{% extends 'student/base.html' %}

{% block title1 %}Main Page{% endblock %}

{% block style%}
    <style>
        #record #tableborder {width:600px;border-radius:5px; box-shadow: 0 0px 10px 0px rgb(0 0 0 / 15%); overflow: hidden;}
        #notification #tableborder {width:510px;border-radius:5px; box-shadow: 0 0px 40px 0px rgb(0 0 0 / 15%); overflow: hidden;}
        #tableborder table {width:100%;  border-collapse: collapse; }
        #tableborder td {height: 40px; text-align:center;}
        #tableborder th {height:50px; color: white;background-color: rgb(79, 163, 241);}
        #tableborder tr:nth-child(even) {background-color: #f2fbff;}
        
        #main-page a{color: steelblue;}
        #UNREAD {color:red}
        h3 {color: red;}

        #record {float:left;}
        #notification{float:left; margin-left: 40px;}
        #operation a{color:rgb(7, 92, 161);}

  
        

    </style>
{% endblock %}

{% block name%}{{userinfo.stuName}}{% endblock %}

{% block username%}{{userinfo.username}}{% endblock %}

{% block url%}
        <ul class = "contents-list">
            <li class = "on"><a href="{% url 'student_index' 1 %}">Current Information</a></li>
            <li><a href="{% url 'student_CourseManage' %}">Course Management</a></li>
            <li><a href="{% url 'student_SearchCourse' 0 %}">Search Course</a></li>
            <li><a href="{% url 'student_AcademicRecord' %}">Academic Record</a></li>
            <li><a href="{% url 'student_complain' %}">Complain</a></li>
            <li><a href="{% url 'student_setting' %}">Setting</a></li>
        </ul>
{% endblock %}


{% block Body%}
    <div id = "main-page" width = 100% class = "current-info">
        <h1>Current Information</h1>
        <div id = "record">
            <div  {% if userinfo.curStatus == 0 %} visiability: hideen {% endif %}>
                <center>
                <h2 >Courses Taking {{term}}</h2>
                {% if taking == 0 %}
                    <table width = 600px >
                        <tr>
                            <td align="center" ><h3>{{info}}</h3></td>
                        </tr>
                    </table>
                    
                {%else %}
                <div id = "tableborder">
                    <table id = "course"  >
                        <tr>
                            <th>Course ID</th>
                            <th>Class Name</th>
                            <th>Section#</th>
                            <th>Instructor</th>
                            <th>Days</th>
                            <th>Time</th>
                            <th>Operation</th>
                        </tr>

                        {% for r in course %}
                        <tr>
                            <td>{{r.cid}}</td>
                            <td>{{r.className}}</td>
                            <td>{{r.section}}</td>
                            <td>{{r.insName}}</td>
                            <td>{{r.day}}</td>
                            <td>{{r.time}}</td>
                            <td id = "operation">{% if Cperiod == 4 %} <a href="{% url 'student_review' r.section %}">Write a review</a> {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br/>
                </div>
                {% endif %}
                </center>
            </div>
            <br/><br/>
            <div id = current-information>
                <table width=400px>
                    <tr>
                        <td>Class Taking:</td>
                        <td>{{userinfo.class_taking}}</td>
                    </tr>
                    <tr>
                        <td>Class Complete:</td>
                        <td>{{userinfo.class_taken}}</td>
                    </tr>
                    <tr>
                        <td>GPA:</td>
                        <td>{{userinfo.GPA}}</td>
                    </tr>
                    <tr>
                        <td>Current Period:</td>
                        <td>
                            {% if Cperiod == 4 %}
                                Class Running Period
                            {% elif Cperiod == 5 %}
                                Grading Period
                            {% elif Cperiod == 2 %}
                                Course Registration Period
                            {% elif Cperiod == 3 %}
                                Special Registration Period
                            {% else %}
                                {{Cperiod}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Current Status:</td>
                        <td>
                            {% if userinfo.curStatus == 1 %}
                                Nomal
                            {% elif userinfo.curStatus == 2 %}
                                Graduate
                            {% else %}
                                Suspended <a href="{% url 'student_payfine' %}">Pay fine</a>
                            {% endif %}
                        </td>
                    </tr> 
                </table>
            </div>
        </div>    
        <div id = "notification">
            <center>
                <h2>Notification</h2>
                <div id = "tableborder">
                <table >
                    <tr>
                        <th>Status</th>
                        <th>Sender</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                    {% if notification == 0 %}
                    <tr><td>NULL</td><td>NULL</td><td>NULL</td><td>NULL</td></tr>
                    {% else %}
                        {% for i in notification %}
                        <tr>
                            {% if i.status == 'UNREAD' %}
                                <td id = "UNREAD">{{i.status}}</td>
                            {% else %}
                                <td>{{i.status}}</td>
                            {% endif %}
                            <td>{{i.sender}}</td>
                            <td id = "operation"><a href="{% url 'student_notification' i.nid %}">{{i.title}}</a></td>
                            <td>{{i.time}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                </div>
                {% if notification != 0 %}
                <br/>
                <a href ="{% url 'student_index' pIndex|add:-1 %}">Previous Page</a>
                {% for p in pagelist %}
                    {% if pIndex == p %}
                    &nbsp;<a href=" {% url 'student_index' p %}" style = "color:steelblue;">{{p}}</a>  &nbsp;
                    {% else %} 
                    &nbsp;<a href=" {% url 'student_index'  p %}">{{p}}</a>  &nbsp;
                    {% endif %}
                {% endfor %}   
            
                <a href ="{% url 'student_index' pIndex|add:1 %}">Next Page</a>

                {% endif %}
            </center>
        </div>   
    </div>
    
{% endblock %}