{% extends 'student/base.html' %}

{% block title1 %}information{% endblock %}

{% block name%}{{userinfo.stuName}}{% endblock %}

{% block username%}{{userinfo.username}}{% endblock %}

{% block url%}
        <ul class = "contents-list">
            <li><a href="{% url 'student_index' %}">Current Information</a></li>
            <li><a href="{% url 'student_CourseManage' %}">Course Management</a></li>
            <li><a href="{% url 'student_SearchCourse' 0 %}">Search Course</a></li>
            <li><a href="{% url 'student_AcademicRecord' %}">Academic Record</a></li>
            <li><a href="{% url 'student_complain' %}">Complain</a></li>
            <li class = "on"><a href="{% url 'student_setting' %}">Setting</a></li>
        </ul>
{% endblock %}

{% block Body %} 
    <div class ="setting">
        <h1>Setting</h1>
        <center>
            <h2>Student Information</h2>
            <br/>
            <h3 >{{info}}</h3>

            {% if status == 1 %}
                <a href="{% url 'student_index' 1 %}">Back to Main page</a>
            {% else %}
                    <a href="{% url view %}"> {% if view == "Student Information" %}Back to Student Information Page 
                                                 {% else %}Back to Password Page {% endif %}</a>
            {% endif %}
        </center>
    </div>


{% endblock %}