{% extends 'student/base.html' %}

{% block title1 %}Academic Record{% endblock %}

{% block style%}
    <style>
        #recordlist li{display: block; padding: 20px;line-height: 40px; font-size: 20px; border-bottom: 2px solid #f5f5f5;}
    </style>
{% endblock %}

{% block name%}{{userinfo.stuName}}{% endblock %}

{% block username%}{{userinfo.username}}{% endblock %}

{% block url%}
        <ul class = "contents-list">
            <li><a href="{% url 'student_index' 1 %}">Current Information</a></li>
            <li><a href="{% url 'student_CourseManage' %}">Course Management</a></li>
            <li><a href="{% url 'student_SearchCourse' 0 %}">Search Course</a></li>
            <li class = "on"><a href="{% url 'student_AcademicRecord' %}">Academic Record</a></li>
            <li><a href="{% url 'student_complain' %}">Complain</a></li>
            <li><a href="{% url 'student_setting' %}">Setting</a></li>
        </ul>
{% endblock %}

{% block Body %} 
    <div class ="AcademicRecord">
        <h1> My Academic</h1>
        <ul id = "recordlist">
            <li><a href ="{% url 'AcademicRecord_history' %}" >Course History</a></li>
            <li><a href ="{% url 'AcademicRecord_graduate' %}" >Apply Graduation</a></li>
        </ul>
    </div>


{% endblock %}
