{% extends 'myadmin/base.html' %}
{% load static %}

{% block style_sheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'viewstudent.css' %}"/> -->
{% endblock %}

{% block main_body %}
<center>
    <h1 style = "font-size: x-large; color: #4287f5;">Manage Course</h1>
    <form action="{% url 'course_update' %}" method = "post">
        {% csrf_token %}
        <input type="hidden" name = "cid" value="{{course.cid}}" />
        <table width="450" border="0" style=" border-collapse: separate;
        border-spacing: 0 15px; 
        background-color: rgb(221, 236, 236);
        border-radius: 10px;
        text-align:center">
            <tr>
                <td>Class Name:</td>
                <td><input type = "text" name = "classname" value={{course.className}} /></td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input type = "text" name = "year" value={{sc.year}} /></td>
            </tr>
            <tr>
                <td>Semester:</td>
                <td><input type = "text" name = "semester" value={{sc.semester}} /></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td><input type = "text" name = "department" value={{course.department}} /></td>
            </tr>
            <tr>
                <td><label for="ins">Instructor</label></td>
                <td>
                    <select name = "iid" id = "ins" style="border-radius: 15px;">
                        {% for i in insList %}
                            <option value = {{i.iid}} {% if sc.iid == i.iid %} selected {% endif %}>{{i.insName}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>days:</td>
                <td>
                    <input type="checkbox" id="mo" name="mo" value="Mo">
                    <label for="mo"> Mo</label>
                    <input type="checkbox" id="tu" name="tu" value="Tu">
                    <label for="tu"> Tu</label>
                    <input type="checkbox" id="we" name="we" value="We">
                    <label for="we"> We</label>
                    <input type="checkbox" id="th" name="th" value="Th">
                    <label for="th"> Th</label>
                    <input type="checkbox" id="fr" name="fr" value="Fr">
                    <label for="fr"> Fr</label>
                    <input type="checkbox" id="sa" name="sa" value="Sa">
                    <label for="sa"> Sa</label>
                </td>
            </tr>
            <tr>
                <td><label for="time">Start_time:</label></td>
                <td>
                    <select name = "start_time" id = "time" style="border-radius: 15px;">
                        <option value = 'a' selected><time>09:30 - 10:45</time></option>
                        <option value = 'b'><time>11:00 -12:15</time></option>
                        <option value = 'c'><time>14:00 -15:15</time></option>
                        <option value = 'd'><time>16:00 - 17:15</time></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Max Limit:</td>
                <td><input type = "text" name = "max_limit" value={{sc.max_limit}} /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type = "submit" value = "Submit"/>
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}