{% extends 'instructor/base.html' %}

{% block title %}
<title>Instructor Home</title>
{% endblock %}

{% block style %}
<style>
    th{height: 50px;color: white;background-color: rgb(66,159,250);}
    .box{width:50%;height:800px;float:left;display:inline;}
    .box h3{text-align: center;}
    
    .box1{
        float: top;
        background-color: rgba(128, 128, 128, 0.226);
        width: auto;
        border-radius: 20px;
    }
    .box2{
        margin: 100px;
        float: top;
        background-color: rgba(128, 128, 128, 0.226);
        width: auto;
        border-radius: 20px;
    }
    .myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
        background-color:#468ccf;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
</style>
{% endblock %}

{% block name %}
{{name}}
{% endblock %}

{% block main_body %}
<div class = "container">
    <div class = "box1">

        <h1>Current Information</h1>
        <h3>Class Teaching:        {{numCourses}}</h3>
        <h3>Current Term:          {{term}}</h3>
        <h3>Current Period:        {{curPeriod}}</h3>
        <h3>Current Status:        {{curStatus}}</h3>

        <br/><br/>
        <h2>Class Currently Teaching</h2>
        <table width= "800" border="1" >
        <tr>
            <th>Section Number</th>
            <th>ClassName</th>
            <th>Year</th>
            <th>Current Enrolled</th>
            <th>Wait list</th>
            <th>Status</th>
            <th>Class Rating</th>
            <th>Action</th>
        </tr>
        {% for c in course %}
            <tr>
                <td>{{ c.sectionNum}}</td>
                <td>{{ c.className }}</td>
                <td>{{ c.year }}</td>
                <td>{{ c.current_enroll }}</td>
                <td>{{ c.wait_list }}</td>
                <td>{{ c.status }}</td>
                <td>{{ c.rating }}</td>
                <td><a href="{% url 'stuInCourse' c.sectionNum %}">View Students</a></td>
            </tr>
        {% endfor %}
        </table>

    </div>
    <div class = "box2">
        <h1>Justification</h1>
            <form action="{% url 'justification' %}" method = "post">
                {% csrf_token %}
                <table width="800">
                    <span>This is for you to justifiy when you get warnings</span>
                    <br/>
                    <span>Or can be used as a way to leave a message to the admin</span>
                    <tr>
                        <td>Justification/Message:</td>
                        <td>
                            <textarea name="justification" cols="20" rows="5">
                            </textarea>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Send" class="myButton">
            </form>
    </div>

</div>
{% endblock %}