tr td{
    text-align: center;
    height: 30px;
}

.viewtable_jid{width: 100px;}
.viewtable_iid{width: 100px;}
.viewtable_status{width: 120px;}
.viewtable_time{width: 200px;}

.paginator ul li{
    list-style-type: none; 
    float: left;
    display: block;
    height: 30px;
    width: 50px;
    margin-top: 20px;
}