{% extends 'login_base.html' %}


{% block main_content %}
<h1>Welcome to GradZero</h1>
<br/><br/><br/>

<h2>TOP 5 Students</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<table width= "800" border="1">
    <tr>
        <td>sid</td>
        <td>name</td>
        <td>GPA</td>
    
    </tr>
    {% for s in topStudent %}
        <tr>
            <td>{{ s.sid }}</td>
            <td>{{ s.stuName }}</td>
            <td>{{ s.GPA }}</td>
        </tr>
    {% endfor %}
</table>
<br/><br/><br/>

<h2>TOP 5 Class Sections</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<table width= "800" border="1">
    <tr>
        <td>Section</td>
        <td>Class Name</td>
        <td>Year</td>
        <td>Semester</td>
        <td>Instructor ID</td>
        <td>Rating</td>
    </tr>
    {% for s in goodRating %}
        <tr>
            <td>{{ s.sectionNum }}</td>
            <td>{{ s.className }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.semester }}</td>
            <td>{{ s.iid }}</td>
            <td>{{ s.rating }}</td>
        </tr>
    {% endfor %}
</table>
<br/><br/><br/>

<h2>BOTTOM 5 Class Sections</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<table width= "800" border="1">
    <tr>
        <td>Section</td>
        <td>Class Name</td>
        <td>Year</td>
        <td>Semester</td>
        <td>Instructor ID</td>
        <td>Rating</td>
    </tr>
    {% for s in badRating %}
        <tr>
            <td>{{ s.sectionNum }}</td>
            <td>{{ s.className }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.semester }}</td>
            <td>{{ s.iid }}</td>
            <td>{{ s.rating }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}