{% extends 'login_base.html' %}


{% block main_content %}
<h1 style="padding:20px; font-size: 50px;">Welcome to GradSchoolZero System</h1>
     <br/><br/><br/><br/><br/><br/><br/>
<h2>TOP 5 Students</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<table width= "800" border="1" >
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>GPA</th>
    
    </tr>
    {% for s in topStudent %}
        <tr>
            <td>{{ s.sid }}</td>
            <td>{{ s.stuName }}</td>
            <td>{{ s.GPA }}</td>
        </tr>
    {% endfor %}
</table>

<br/><br/><br/>

<h2>TOP 5 Class Sections</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<span style="font: 100;">1 the lowest 5 the highest</span>
<table width= "800" border="1" >
    <tr>
        <th>Section</th>
        <th>Class Name</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Instructor Name</th>
        <th>Rating</th>
    </tr>
    {% for s in goodRating %}
        <tr>
            <td>{{ s.sectionNum }}</td>
            <td>{{ s.className }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.semester }}</td>
            <td>{{ s.insName }}</td>
            <td>{{ s.rating }}</td>
        </tr>
    {% endfor %}
</table>
<br/><br/><br/>

<h2>BOTTOM 5 Class Sections</h2>
<hr align=center width=300 color=#987cb9 SIZE=2>
<br/>
<span style="font: 100;">1 the lowest 5 the highest</span>
<table width= "800" border="1" >
    <tr>
        <th>Section</th>
        <th>Class Name</th>
        <th>Year</th>
        <th>Semester</th>
        <th>Instructor Name</th>
        <th>Rating</th>
    </tr>
    {% for s in badRating %}
        <tr>
            <td>{{ s.sectionNum }}</td>
            <td>{{ s.className }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.semester }}</td>
            <td>{{ s.insName }}</td>
            <td>{{ s.rating }}</td>
        </tr>
    {% endfor %}
</table>
<br/><br/><br/>



{% endblock %}